.list-content {
  padding: 10px;
  font-size: 17px;
  position: relative;
}

.flexbox-ul {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #cdd6f4;
}

.flexbox-li {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 300px;
  margin: 20px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  background-color: #45475a;
  background-image: linear-gradient(120deg, #313244, #1e1e2e);
  box-shadow: none;
  border: 1px solid #a6adc8;
  border-radius: 12px;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out;
}

.flexbox-li a {
  display: flex;
  align-items: center;
  padding: 20px;
  flex-direction: column;
    height: 100%;
}

.image {
  position: relative;
}

.image .imge {
  width: 100%;
  height: 100%;
  border-radius: 5px;
    height: 320px;
}

a .title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 10px;
}

a .author {
    text-align: center;
    margin-bottom: 5px;
    font-size: 15px;
}

a .genre {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

a .genre .genre-box {
    margin: 5px;
    background-color: #b4befe;
    color: #1e1e2e;
    font-size: 16px;
    padding: 7px;
    font-weight: bold;
    border-radius: 6px;
}

.flexbox-li:hover {
  box-shadow: 0 5px 20px #a6adc8;
}

a h2 {
  font-size: 20px;
  font-family: "Lucida Sans";
}
a h3 {
  font-size: 17px;
  font-family: "Georgia";
}

.flexbox-li p {
  font-family: "Aria sans";
  font-size: 14px;
  padding: 8px;
  font-weight: bold;
}

.flexbox-li a {
  box-shadow: none;
}

.center-content {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

#book-search {
    padding: 10px;
    margin: 10px;
    width: 75%;
    border: 2px solid #a6adc8;
    border-radius: 6px;
    background-color: #1e1e2e;
    color: white;
    font-size: 1em;
}
