#content {
    margin: 20px;
    width: auto;
    padding: 20px;
    display: grid;
    align-items: center;
    align-content: center;
    background-color: #45475a;
    background-image: linear-gradient(120deg, #313244, #1e1e2e);
    box-shadow: none;
    border: 1px solid #a6adc8;
    border-radius: 12px;
    color: #cdd6f4;
}

.flexbox {
    margin-left: inherit;
    margin-right: inherit;
    display: flex;
    align-items: center;
}

.img {
    margin-right: 25px;
    align-content: center;
    align-items: center;
}

.img img {
    max-width: 722px;
    max-height: 400px;
}

.title {
    font-size: 32px;
    font-weight: bold;
}

.author {
    font-size: 18px;
}

.genre {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.genre .genre-box {
    margin: 5px;
    background-color: #b4befe;
    color: #1e1e2e;
    font-size: 16px;
    padding: 7px;
    font-weight: bold;
    border-radius: 6px;
}

@media screen and (max-width: 922px) {
    .flexbox {
        margin-left: inherit;
        margin-right: inherit;
        display: grid;
        align-items: center;
    }
    .img {
        align-items: center;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-right: 0;
    }

    .img img {
        margin-right: 0;
        max-width: 100%;
    }
    .title {
        margin-top: 10px;
    }
}
