.informasi {
  border-radius: 25px;
  background-color: black;
  box-shadow: 25px;
  display: flex;
}

.judul-informasi {
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 10px;
}

.sub {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.ul-team {
  padding: 20px;
  gap: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: 25px;
}

.li-team {
  width: 30%;
  color: white;
}
